<% #TODO: more styling maybe? %>
<div id="github">
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Pull Requests</h3>
    </div>
    <div id="gitfeed">
      <% @status_board.pull_requests.each do |pull| %>
        <div class="media">
          <div class="media-left">
            <a href= <%= pull.html_url %>>
              <img class="media-object" src= <%= pull.user_avatar_url %> >
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <%= "#{pull.repository_name}: " %>
            </h4>
                <%= "#{pull.title}" %>
              <br>
              <p>
                <span id="author">
                  <%= "Author: #{pull.user_login}" %>
                </span>
              </p>
              <% pull.thumbs.times do %>
                <%= fa_stacked_icon "thumbs-o-up", base: "square-o" %>
              <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
