<div id='header' >
  <div id="colorstrip">
    <div class="row">
      <div id='logo' class="col-md-3">
        <%= image_tag 'foraker_logo_360.png' %>
      </div>
      <div id='github-header' class="col-md-3">
        <i class="fa fa-thumbs-up fa-lg" id="thumb-icon"></i>
        <span><%= github.unapproved_pull_requests.length %></span>
        <span id="need-thumbs">need thumbs</span>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-1"></div>
        <span id="header-time"><%= Time.now.strftime("%l:%M:%S") %></span>
        <span id="header-date">&nbsp; | &nbsp; <%= Date.today.strftime("%B %d, %Y") %></span>
      <i class="wi wi-<%= weather.image %>" id="header-weather-image"></i>
      <span id="header-temp"> &nbsp; <%= weather.current_temp %>° </span>
      <span id="header-weather-desc"> &nbsp; <%= weather.condition %> </span>
    </div>
  </div>
</div>
