<div id="weather">
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Today's Weather</h3>
    </div>
    <div id="pic-desc">
      <%= image_tag component.image %>
      <p><%= component.condition %></p>
    </div>
    <div id ="temps">
      <p>Current: <%=  "#{component.current_temp}°F" %></p>
      <p>High: <%= "#{component.high_temp}°F" %></p>
      <p>Low: <%=  "#{component.low_temp}°F" %></p>
    </div>
  </div>
</div>
