<%# TODO: This panel takes ~12 times longer to render than the other panels.
          Needs some performance tweaks %>
<div id="git">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Pull Requests</h3>
    </div>
    <div id="git-feed">
    <table class="table">
      <tbody>
        <tr id="top">
          <th>Repository</th>
          <th>Title</th>
          <th>Author</th>
          <th>Size</th>
          <th>Thumbs</th>
        </tr>
        <% component.pull_requests.each do |pull| %>
          <tr class="<%= pull.css_class %>">
            <td id="repo-name"> <%= pull.repository_name %> </td>
            <td> <%= pull.title %> </td>
            <td> <%= pull.user_login %> </td>
            <td> <%= pull.commit_size %> </td>
            <td>
              <%= fa_stacked_icon "thumbs-o-up", base: "square-o" %>
              <%= "x #{pull.thumbs}" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>
