<table class="table-striped" id="project-overview">
  <thead>
    <tr>
      <th></th>
      <th>
        <div id="cycle-time-header">
          <%= image_tag 'cycle_time2.png' %>
          <br>
          <small>Cycle Time (1 month)</small>
        </div>
      </th>
      <th>
        <div class="header-wrapper">
          <%= image_tag 'cc-logo.png' %>
          <br/>
          <small>Code Climate</small>
        </div>
      </th>
      <th>
        <div class="header-wrapper">
          <%= image_tag 'velocity.png' %>
          <br/>
          <small>Velocity</small>
        </div>
      </th>
      <th>
        <div class="header-wrapper">
          <i class="fa fa-thumbs-up fa-2x"></i>
          <br/>
          <small>Accepted | Unaccepted</small>
        </div>
      </th>
      <th>
        <div class="header-wrapper">
          <%= image_tag 'circle_ci2.png' %>
          <br/>
          <small>Circle CI</small>
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <% component.projects.each do |project| %>
      <tr>
        <td class="project-name"><%= project.name.upcase %></td>
        <td class="cycle-time"><%= project.cycle_time %></td>
        <td>TBD</td>
        <td>TBD</td>
        <td>
          <span class="approved-pr-count"><%= project.approved_pull_requests_count %></span>
            | <span class="unapproved-pr-count"><%= project.unapproved_pull_requests_count %></span>
        </td>
        <td>TBD</td>
      </tr>
    <% end %>
  </tbody>
</table>
