<table class="table" id="project-overview">
  <thead>
    <tr>
      <th></th>
      <th><%= image_tag 'cycle_time2.png' %><br/><small>Cycle Time (1 month)</small></th>
      <th><%= image_tag 'cc-logo.png' %><br/><small>Code Climate</small></th>
      <th><%= image_tag 'velocity.png' %><br/><small>Velocity</small></th>
      <th><i class="fa fa-thumbs-up fa-2x"></i><br/><small>Accepted&nbsp;&nbsp;|&nbsp;&nbsp;Unaccepted</small></th>
      <th><%= image_tag 'circle_ci2.png' %><br/><small>Circle CI</small></th>
    </tr>
  </thead>
  <tbody>
    <% component.projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.cycle_time %></td>
        <td>TBD</td>
        <td>TBD</td>
        <td>
          <span id = "summary-approved-pr"><%= project.approved_pull_requests_count %></span>
            &nbsp;&nbsp;|&nbsp;&nbsp;<span id="summary-unapproved-pr"><%= project.unapproved_pull_requests_count %></span>
        </td>
        <td>TBD</td>
      </tr>
    <% end %>
  </tbody>
</table>
