<div id="git">
  <div class="panel panel-default">
    <div class="panel-heading-custom">
      <h3 class="panel-title"><%= type.upcase %> (<%= pull_requests.length %>)</h3>
    </div>
    <div id="git-feed">
      <table class="table">
        <thead>
          <tr id="top">
            <th>Repository</th>
            <th>Title</th>
            <th>Author</th>
            <th>Size</th>
            <th>Thumbs</th>
          </tr>
        </thead>
        <tbody>
          <% pull_requests.each do |pull| %>
            <tr class= "<%= type == "approved" ? "success" : "danger" %>">
              <td id="repo-name"><%= pull.repository %></td>
              <td><%= link_to pull.title, pull.url %></td>
              <td><%= pull.author %></td>
              <td><%= pull.size %></td>
              <td>
                <%= fa_icon "thumbs-o-up" %>
                <%= "x #{pull.thumbs}" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
