<table class="table-striped stories-table">
  <thead>
    <tr>
      <th></th>
      <th>Project</th>
      <th>Duration</th>
      <th>Story Type</th>
    </tr>
  </thead>
  <tbody>
    <% component.stories.each do |story| %>
      <tr>
        <td class="story-name"><%= link_to story.name, story.url %></td>
        <td><%= story.project_name %></td>
        <td><%= story.started_duration %></td>
        <td class="story-type">
          <i class="fa fa-<%= story.icon %>"></i>
          <% if story.estimate.present? %>
            x <%= story.estimate %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
