<% #TODO: move photoframe over to a new twitter so foraker doesn't get spammed with pictures/gifs %>
<div id="twitter">
  <div class="panel panel-default">
    <div class="panel-heading-custom">
      <h3 class="panel-title">TWITTER FEED</h3>
    </div>
    <div id="feed">
      <% component.tweets.each do |tweet| %>
        <div class="media">
          <div class="media-left">
            <a href="<%= tweet.tweet_url %>">
              <img class="media-object" src="<%= tweet.image_url %>">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <%= tweet.author %>
              <small><%= tweet.date %></small>
            </h4>
              <%= raw tweet.text %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
