<div id="weather">
  <div class="panel panel-default">
    <div class="panel-heading-custom">
      <h3 class="panel-title">TODAY'S WEATHER</h3>
    </div>
    <div id="pic-desc">
      <i class="wi wi-<%= component.image %> wi-3x"></i>
      <p><%= component.condition %></p>
    </div>
    <div id ="temps">
      <p>Current: <%=  "#{component.current_temp}°F" %></p>
      <p>High: <%= "#{component.high_temp}°F" %></p>
      <p>Low: <%=  "#{component.low_temp}°F" %></p>
    </div>
  </div>
</div>
