<div id="weather">
  <div class="panel panel-default">
    <div class="panel-heading-custom">
      <h3 class="panel-title">WEATHER</h3>
    </div>
    <div id="pic-desc">
      <i class="wi wi-<%= component.icon %> wi-3x"></i>
      <p><%= component.condition %></p>
    </div>
    <div id ="temps">
      <p>Current: <%=  "#{component.current_temp}°F" %></p>
      <p>High: <%= "#{component.high_temp}°F" %></p>
      <p>Low: <%=  "#{component.low_temp}°F" %></p>
    </div>
    <div id="five-day-forecast">
      <% component.five_day_forecast.each do |day| %>
        <div class="panel panel-default forecast">
          <p><%= day['day'].upcase %></p>
          <i class="wi wi-<%= component.icon(day['code']) %> wi-3x"></i>
          <p><%= "#{day['high']}°F" %></p>
          <p><%= "#{day['low']}°F" %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
