<div id="weather">
  <div class="panel panel-default">
    <div class="panel-heading-custom">
      <h3 class="panel-title">WEATHER</h3>
    </div>
    <div id="pic-desc">
      <canvas class="black-skycon" data-weather="<%= component.forecast_icon %>" width="120" height="240"></canvas>
      <p><%= component.condition %></p>
    </div>
    <div id ="temps">
      <p>Current: <%=  "#{component.current_temp}°F" %></p>
      <p>High: <%= "#{component.high_temp}°F" %></p>
      <p>Low: <%=  "#{component.low_temp}°F" %></p>
    </div>
    <div id="five-day-forecast">
      <% component.five_day_forecast.each do |day| %>
        <div class="panel panel-default forecast">
          <p><%= day.day_of_week %></p>
          <canvas class="white-skycon" data-weather="<%= day.forecast_icon %>" width="80" height="160"></canvas>
          <p><%= "#{day.high_temp}°F" %></p>
          <p><%= "#{day.low_temp}°F" %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>
